<h1>Stupid coaching</h1>
<div class="container question">
  <p><%= @question %></p>
  <p><em>- You</em></p>
</div>
<div class="container answer">
  <p><%= @answer %></p>
  <p><em>- Your coach</em></p>
</div>
<%= link_to "Ask another question", "/ask" %>
