<h1>Welcome to your really stupid coach</h1>
<p>Ask anything you like:</p>
<form action="/answer" method="get">
  <input class="form-question" type="text" name="question">
  <input class="btn" type="submit" value="Ask!">
</form>
